
body {
	 font-family: 'Roboto', sans-serif;
	margin:0;
}
.header{
	background: #1F2937;
	margin:0;
	color: White;
	
	font-family: 'Roboto', sans-serif;
	padding-bottom: 50px;
}

.topheader {
	display: flex;
	justify-content: space-between;
	font-family: 'Roboto', sans-serif;
	padding-left: 220px;
	padding-right: 220px;
	padding-bottom: 60px;
}



ul {
	display: flex;
	list-style: none;
	
	gap: 20px;
	
	
}
h1 .text {
	font-family: hero;
	font-size: 48px;
	
}
a {
	color: white;	
	text-decoration: none;
}

p {
	width: 381px;
	flex: 1;
}

.midheader {
	display: flex;
	justify-content: center;
	gap: 390px;
	flex: 1;
	
}

button {
	background: #3882F6;
	color: white;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	border: none;
	border-radius: 7px;
	
}

.middle {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-top: 70px;
	padding-bottom: 130px;
	justify-content: center;
	
	
} 
.title {
	padding-bottom: 30px;
	font-size: 40px;
	font-weight: bold;
}
.container {
	display: flex;
	justify-content: center;
	gap: 20px;
	
}

.midimg {
	
	border-width: thin;
	width: 159px;
	height: 159px;
	
	

	
}
 .midimg img { 
	 border: 4px solid #3882F6 ;
	border-radius: 8px;
	 max-width: 76%;
height: auto;
	
}

.Thor {
	background: #E5E7EB;
		padding: 36px;
	display: flex;
	flex-direction: column;
	padding-left: 450px;
	padding-right: 450px;
}

.quote {
	font-size: 36px;
	font-style: italic; 
	font-weight:lighter;
	
	
}

.sign {
	align-self: flex-end;
	font-weight: bold;
}

.blue {
	background: #3882F6;
	border-radius: 6px;
	display: flex;
	color: white;
	padding: 50px;
	margin-left: 400px;
	margin-right: 400px;
	margin-top: 40px;
	margin-bottom: 40px;
	justify-content: space-around;
	align-content: center;
}
.Utex {
	font-weight: bold;
}
.blue button { 
	border-style: solid;
	
	border-color: white;
	margin: 15px;
}
.footer {
	background: #1F2937;
	color: white;
	text-align: center;
	padding: 15px;
}

